# Basic Data Structure

## 1. Number

### 1.1 Integer

In [2]:
a = 1
b = 2
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

### 1.2 Floating

In [3]:
c = 0.5
d = 3/4
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

### 1.3 Boolean

In [4]:
t = True
f = False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

### 1.4 Complex Number

In [7]:
z = 1 + 2j
print(z.real)
print(z.imag)
print(type(z))

1.0
2.0
<class 'complex'>

## 2. String

In [8]:
# Create String
char1 = 'Hello Worls'
char2 = '0123456789'
print(type(char1))
print(type(char2))

<class 'str'>
<class 'str'>

In [10]:
# Read String
char3 = '0123456789'
print(char3[0])
print(char3[5])
print(char3[-1])
print(char3[-2])

print(char3[3:])
print(char3[:7])
print(char3[3:7])

0
5
9
8
3456789
0123456
3456

In [11]:
# String + Replace
char4 = 'abc'
print(char4.replace('a', 'A'))

char4 = 'abc'
print(char4.replace('bc', 'DE'))

Abc
aDE

In [12]:
# String + len
char5 = '12345'
len(char5)

5

In [13]:
# String + in
char6 = 'Python'
print('P' in char6)
print('p' in char6)

True
False

In [14]:
# String + Split
char7 = 'one-two-three'
print(char7.split("-"))

char8 = 'I love coding'
print(char8.split(' '))

['one', 'two', 'three']
['I', 'love', 'coding']

In [16]:
# String + Concatenation
char9 = 'ab'
char10 = 'cd'
print(char9 + char10)

char11, char12, char13 = 'A', 'B', 'C'
print(char11 + char12 + char13)

abcd
ABC

# Composite Data Structure (แหล่งเก็บข้อมูล)

## 1. List []

#### CRUD + sort + len + in
#### CRUD >>> Create Read Update Delete
#### List >> เก็บข้อมูลแบบ index based >> นิยมใช้สุด
#### List >> เก็บข้อมูลได้ทุกประเภท

In [20]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd']
list3 = [1, 2, 3, 'a', 'b', 'c']
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [24]:
print(list3[0])
print(list3[-1])
print(list3[-2])
print(list3[3:])
print(list3[:5])
print(list3[3:5])

1
c
b
['a', 'b', 'c']
[1, 2, 3, 'a', 'b']
['a', 'b']

#### Update list >> Replace, Append, Extend, Insert

In [28]:
# Replace
list5 = [1, 2, 3, 'a', 'b', 'c']
print(list5)

list5[0] = 0
print(list5)

list5[-1] = 'x'
print(list5)

[1, 2, 3, 'a', 'b', 'c']
[0, 2, 3, 'a', 'b', 'c']
[0, 2, 3, 'a', 'b', 'x']

In [29]:
# Append >> การเอาสมาชิกใหม่ไปต่อท้าย
list6 = [1, 2, 3, 'a', 'b', 'c']
print(list6)

list6.append('d')
print(list6)

list6.append('e')
print(list6)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c', 'd']
[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

In [30]:
# Extend >> การเอา 2 list มาต่อกัน
list7 = [1, 2, 3]
list8 = ['a', 'b', 'c']

list7.extend(list8)
print(list7)

[1, 2, 3, 'a', 'b', 'c']

In [31]:
# Insert >> แทรก
list9 = [1, 2, 3, 'a', 'b', 'c']

list9.insert(1, 'one') # >> (index, insert value)
print(list9)

[1, 'one', 2, 3, 'a', 'b', 'c']

#### Delete List  >> Del, Remove, Clear

In [33]:
# Del >>> Index based
list10 = [1, 2, 3, 'a', 'b', 'c']
del list10[2]
print(list10)

del list10[-2]
print(list10)

[1, 2, 'a', 'b', 'c']
[1, 2, 'a', 'c']

In [34]:
# Remove >>> value based 
list11 = [1, 2, 3, 'a', 'b', 'c']
list11.remove(1)
print(list11)

list11.remove('a')
print(list11)

[2, 3, 'a', 'b', 'c']
[2, 3, 'b', 'c']

In [35]:
# clear
list12 = [1, 2, 3, 'a', 'b', 'c']
list12.clear()
print(list12)

[]

#### List + sort

In [39]:
list13 = [1, 5, 4, 2, 3]
list13.sort()
print(list13)

list14 = [1, 5, 4, 2, 3]
list14.sort(reverse = True)
print(list14)

list15 = [1, 5, 4, 2, 3]
list15_sorted = sorted(list15, reverse = False)
print(list15)
print(list15_sorted)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 5, 4, 2, 3]
[1, 2, 3, 4, 5]

#### List + len

In [40]:
list16 = [1, 2, 3, 'a', 'b', 'c']
print(len(list16))

6

#### List + in

In [43]:
list17 = [1, 2, 3, 'a', 'b', 'c']
print('b' in list17)
print(4 in list17)

True
False

## 2. Tuple ()

#### เหมือน list แต่ไม่สามารถแก้ไขอะไรได้เลย
#### CR + len + in

#### Create Tuple

In [45]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c', 'd')
tuple3 = (1, 2, 3, 'a', 'b', 'c')
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

#### Read Tuple

In [46]:
tuple4 = (1, 2, 3, 'a', 'b', 'c')
print(tuple4[0])
print(tuple4[-1])

1
c

#### Tuple + len

In [47]:
tuple6 = (1, 2, 3, 'a', 'b', 'c')
print(len(tuple6))

6

#### Tuple + in

In [48]:
tuple7 = (1, 2, 3, 'a', 'b', 'c')
print('b' in tuple7)

True

## 3. Dictionary { : }

#### CRUD + len + in
#### key : value based

#### Create Dictionary

In [50]:
dict1 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict2 = {
    'fullname' : 'John Doe',
    'hobby' : ['coding', 'study']
}

print(type(dict1))
print(type(dict1))

<class 'dict'>
<class 'dict'>

#### Read Dictionary

In [52]:
dict3 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print(dict3['firstname'])
print(dict3['age'])

John
32

#### Update Dictionary

In [55]:
dict4 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict4['firstname'] = 'Mario'
print(dict4)

##################################

dict5 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict5['blood_group'] = 'O' # >> ถ้าไม่มี key มะนจะสร้าง key ใหม่เลย
print(dict5)

###################################

dict6 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict6.update({'blood_group' : 'O',
            'height' : 180})
print(dict6)

{'firstname': 'Mario', 'lastname': 'Doe', 'age': 32}
{'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'blood_group': 'O'}
{'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'blood_group': 'O', 'height': 180}

#### Delete Dictionary

In [57]:
dict7 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

del dict7['lastname']
print(dict7)

#################################
dict8 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}
dict8.clear()
print(dict8)

{'firstname': 'John', 'age': 32}
{}

#### Dictionary + len

In [59]:
dict9 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print(len(dict9))
print(len(dict9.keys()))
print(len(dict9.values()))

3
3
3

#### Dictionary + in

In [61]:
dict10 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print('firstname' in dict10)
print('firstname' in dict10.keys())      # >>> list ของ keys 
print('firstname' in dict10.values())    # >>> list ของ values

True
True
False

## 4. Set {}

#### CRUD + len + in
#### do not have >>> index based, key based หรือ ไม่มีตัวอ้างอิงถึง Value
#### have >>> Union, Intersection, Difference, Symmetric Difference

#### 4.1 Create Set

In [62]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 'a', 'b', 'c'}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

#### 4.2 Read Set

In [63]:
set3 = {'a', 'b', 'c', 'd', 'e'}
for x in set3:
    print(x)

a
e
c
d
b

#### 4.3 Update Set

In [66]:
# ADD
set4 = {'a', 'b', 'c', 'd', 'e'}
set4.add(1)
print(set4)

# UPDATE
set5 = {'a', 'b', 'c', 'd', 'e'}
set5.update({1, 2})
print(set5)

{1, 'a', 'e', 'c', 'd', 'b'}
{1, 'a', 2, 'e', 'c', 'd', 'b'}

#### 4.4 Delete Set

In [68]:
# REMOVE
set6 = {'a', 'b', 'c', 'd', 'e'}
set6.remove('a')
print(set6)

set6.remove('c')
print(set6)

# CLEAR
set7 = {'a', 'b', 'c', 'd', 'e'}
set7.clear()
print(set7)

{'e', 'c', 'd', 'b'}
{'e', 'd', 'b'}
set()

#### 4.5 set + len

In [70]:
set8 = {'a', 'b', 'c', 'd', 'e'}
print(len(set8))

5

#### 4.6 Set + in

In [72]:
set9 = {'a', 'b', 'c', 'd', 'e'}
print('a' in set9)

print(1 in set9)

True
False

#### 4.7 Set + Union   |

In [73]:
# UNION >>> |
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA | setB)

{1, 2, 3, 4, 5, 6, 7}

#### 4.8 Set + Intersection   &

In [74]:
# INTERSECTION >>> &
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA & setB)

{3, 4, 5}

#### 4.9 Set + Difference   -

In [75]:
# DIFFERENCE >>> -
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA - setB)
print(setB - setA)

{1, 2}
{6, 7}

#### 4.10 Set + Symmetric Difference   ^

In [77]:
# SYMMETRIC DIFFERENCE >>> ^ >>> (A union B) - (A intersec B) >> สมาชิกทั้งหมดของ 2 เซ็ต ลบ สมาชิกที่มีในทั้ง 2 เซ็ต
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA ^ setB)

{1, 2, 6, 7}

# Exercises

In [78]:
numeric1 = 5
print(numeric1)
print(type(numeric1))

5
<class 'int'>

In [79]:
numeric2 = -3
print(numeric2)
print(type(numeric2))

-3
<class 'int'>

In [80]:
numeric3 = 0
print(numeric3)
print(type(numeric3))

0
<class 'int'>

In [101]:
def Check() -> int:
    try:
        number: int = int(input("Type number:"))
        assert isinstance(number, int), "Number should int"
        return number, type(number)
    except ValueError:
        print("Type int only")
Check()

Type int only

In [102]:
numeric1 = 5.0
print(numeric1, type(numeric1))

5.0 <class 'float'>

In [103]:
numeric2 = -3.1
print(numeric2, type(numeric2))

-3.1 <class 'float'>

In [104]:
numeric3 = 0.0
print(numeric3, type(numeric3))

0.0 <class 'float'>

In [117]:
def chechFloat() -> float:
    try:
        number: float = input("Type float:")
        assert isinstance(number, float), "Number should be float!!"
        print(number)
        print(type(number))
    except ValueError:
        print("Type float only!!")
    except AssertionError:
        print("Type float onlt!!")

chechFloat()

Type float onlt!!

In [136]:
def SumMiPoDi() -> int, float:
    try:
        x: int = int(input("Input X:"))
        y: int = int(input("Input Y:"))
        assert isinstance(x, int), "X should be int"
        assert isinstance(y, int), "Y should bo int"
        print(f"x + y = {x + y} \nx - y = {x - y} \nx * y = {x * y} \nx / y = {x / y}")
    except ValueError:
        print("Input int only")

SumMiPoDi()

x + y = 9
x - y = -1
x * y = 20
x / y = 0.8

In [140]:
def SMPD() -> float:
    try:
        x: float = input("Input X:")
        y: float = input("Input Y:")
        assert isinstance(x, float), "X should be float"
        assert isinstance(y, float), "Y should be float"
        print(f"x + y = {x + y} \nx - y = {x - y} \nx * y = {x * y} \nx / y = {x / y}")
    except ValueError:
        print("Input float only!!")
    except AssertionError:
        print("Input float only!")

SMPD()

Input float only!

In [142]:
def no11() -> float:
    try:
        x: int = int(input("Input INT:"))
        y: float = input("Input FLOAT:")
        assert isinstance(x, int), "INT should be int"
        assert isinstance(y, float), "FLOAT should be float"
        print(f"X + Y = {x + y} \nX - Y = {x - y} \nx * y = {x * y} \nx / y = {x / y}")
    except ValueError:
        print("Input int")
    except AssertionError:
        print("Input float")

no11()

Input float

In [143]:
logic1 = True
print(logic1)
print(type(logic1))

True
<class 'bool'>

In [144]:
logic2 = False
print(logic2, type(logic2))

False <class 'bool'>

In [146]:
logic1 = True
logic2 = False
print(logic1 & logic2)
print(logic1 | logic2)

False
True

In [149]:
complex1 = 1 + 2j
print(complex1, type(complex1))
print(complex1.real)
print(complex1.imag)

(1+2j) <class 'complex'>
1.0
2.0

In [163]:
string1 = 'Python'
print(string1, type(string1))
print(string1[0])
print(string1[1])
print(string1[-1])
print(string1[-2])
print(string1[2])
print(string1[-3])
print(string1[1:3])
print(string1[2:-2])
print(string1[2:-1])
print(string1[-4:4])
print(string1[-6:4])
print(string1[-4:-2])

Python <class 'str'>
P
y
n
o
t
h
yt
th
tho
th
Pyth
th

In [165]:
def lenstr():
    x = str(input("Input text:"))
    return len(x)

lenstr()

9

In [168]:
def checkก():
    x = input("Input text:")
    for text in x:
        if text == "ก":
            return "Yes"
        else:
            return "No"

checkก()

'Yes'

In [172]:
def checktext():
    x = input("Input string1:")
    y = input("Input string2:")
    print(y in x)

checktext()

False

In [1]:
def bigA():
    x = input("Input string:")
    return x.replace('a', 'A')

bigA()

'kskhfkfkdslfdddAAjfhAlsdA'

In [3]:
def big_string():
    string1 = input('Input string:')
    string2 = string1.replace('a', 'A')
    return string2

big_string()

'AAA'

In [5]:
def spilt():
    x = input("Input senctence:")
    return x.split(" ")  

spilt()

['I', 'am', 'learning', 'Python']

In [7]:
def morespilt():
    x = input("Input senctence:")
    y = input('Input keyword:')
    return x.split(y)

morespilt()

['I', 'am', 'learning', 'Python']

In [11]:
def concatxy():
    x = input('Input senctence1:')
    y = input('Input senctence2:')
    return x + y

concatxy()

'Friday'

In [26]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1)
print(type(list1))
print(list1[2])
print(list1[-3])
print(list1[0])
print(list1[4])
print(list1[2 :3])
print(list1[1: -2])
print(list1[1:5])
print(list1[3:])
print(list1[:3])

[0, 1, 2, 'a', 'b', 'c']
<class 'list'>
2
a
0
b
[2]
[1, 2, 'a']
[1, 2, 'a', 'b']
['a', 'b', 'c']
[0, 1, 2]

In [28]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [29]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [30]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2.append('fish')
print(list2)

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [5]:
def emtrylist():
    emtry_list = []
    i = 1
    while i <= 3:
        x = input(f'Input str{i}:')
        emtry_list.append(x)
        i += 1
    print(emtry_list)
    
emtrylist()

['TR', 'EW', 'FG']

In [2]:
list3 = ['apple', 'cherry', 'eggfruit']
list3.insert(1, 'banana')
print(list3)

list3.insert(-2, 'kiwi')
print(list3)

['apple', 'banana', 'cherry', 'eggfruit']
['apple', 'banana', 'kiwi', 'cherry', 'eggfruit']

In [5]:
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)
list4.sort(reverse = True)
print(list4)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

In [7]:
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4)
print(f"""{sorted_list4} 
{list4}""")

[0, 1, 2, 3, 4]
[0, 4, 2, 3, 1]

In [1]:
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4, reverse = True)
print(f'''{sorted_list4}
{list4}''')

[4, 3, 2, 1, 0]
[0, 4, 2, 3, 1]

In [2]:
list5 = ['d', 'a', 'c', 'd', 'e']
sorted_list5 = sorted(list5, reverse = False)
print(f'''{sorted_list5}
{list5}''')

['a', 'c', 'd', 'd', 'e']
['d', 'a', 'c', 'd', 'e']

In [4]:
list5 = ['d', 'a', 'c', 'd', 'e']
sorted_list5_2 = sorted(list5, reverse = True)
print(f'''{sorted_list5_2}
{list5}''')

['e', 'd', 'd', 'c', 'a']
['d', 'a', 'c', 'd', 'e']

In [10]:
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 0, 1, 2]

In [12]:
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]
list3 = list1 + list2
print(f'''{list1}
{list2}
{list3}''')

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [14]:
list1 = [1, 2, 3, 1, 2, 3]
del list1[0]
print(list1)

[2, 3, 1, 2, 3]

In [23]:
list1 = [1 , 2, 3, 1, 2, 3]
list1 = [x for x in list1 if x != 3]
print(list1)

[1, 2, 1, 2]

In [33]:
list1 = [1, 2, 3, 1, 2, 3]
x = 0
while x < len(list1):
    if list1[x] == 3:
        del list1[x]
    else:
        x += 1
print(list1)

[1, 2, 1, 2]

In [37]:
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
print(list1)

[2, 3, 1, 2, 3]

In [38]:
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
list1.remove(1)
print(list1)

[2, 3, 2, 3]

In [35]:
list1 = [1, 2, 3, 1, 2, 3]
x = 0
while x < len(list1):
    if list1[x] == 1:
        list1.remove(list1[x])
    else:
        x += 1
print(list1)

[2, 3, 2, 3]

In [40]:
list1 = [1, 2, 3, 1, 2, 3]
list1.clear()
print(list1)

[]

In [44]:
list1 = [1, 2, 3, 'a', 'b', 'c']
len(list1)

6

In [46]:
def checklist(x):
    list1 = [1, 2, 3, 4, 5]
    if x in list1:
        print("YES!!")
    else:
        print("NO :(")

checklist(7)

NO :(

In [48]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(f'''{tuple1}
{type(tuple1)}''')

('America', 'Brazil', 'China', 'Dominican', 'Egypt')
<class 'tuple'>

In [50]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
tuple1[1]

'Brazil'

In [51]:
tuple1 = ('America', 'Blazil', 'China', 'Dominican', 'Egypt')
tuple1[-2]

'Dominican'

In [53]:
tuple1 = ('America', 'Blazil', 'China', 'Dominican', 'Egypt')
tuple1[2]

'China'

In [54]:
tuple1 = ('American', 'Blazil', 'China', 'Dominican', 'Egypt')
tuple1[-1]

'Egypt'

In [55]:
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[1:3])

('two', 'three')

In [56]:
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[2:-2])

('three', 1)

In [57]:
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[2:4])

('three', 1)

In [58]:
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[0:3])

('one', 'two', 'three')

In [60]:
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[3:])

(1, 2, 3)

In [61]:
tuple3 = ('one', 'two', 'three', 'four', 'five')
len(tuple3)

5

In [80]:
def check() -> str:
    tuple3 = ('one', 'two', 'three', 'four', 'five')
    x: str = str(input("Input str1:"))
    assert isinstance(x, str), "X should be str1"
    print(x in tuple3)

check()

True

In [81]:
dict1 = {'first_name': 'John',
         'last_name': 'Doe'}
print(dict1)

{'first_name': 'John', 'last_name': 'Doe'}

In [82]:
dict1 = {'first_name': 'John',
         'last_name': 'Doe'}
print(dict1['first_name'])

John

In [83]:
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe'
}
print(dict1['last_name'])

Doe

In [85]:
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe'
}
print(dict1.keys())

dict_keys(['first_name', 'last_name'])

In [86]:
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe'
}
dict1['first_name'] = 'Jane'
print(dict1)

{'first_name': 'Jane', 'last_name': 'Doe'}

In [88]:
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe'
}
dict1.update({'age': 32})
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32}

In [89]:
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe'
}

dict1.update({
    'age': 32,
    'hobby': ['coding', 'studying']
})
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32, 'hobby': ['coding', 'studying']}

In [1]:
print("Hello")

Hello