# Basic Data Structure

## 1. Number

### 1.1 Integer

In [2]:
a = 1
b = 2
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

### 1.2 Floating

In [3]:
c = 0.5
d = 3/4
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

### 1.3 Boolean

In [4]:
t = True
f = False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

### 1.4 Complex Number

In [7]:
z = 1 + 2j
print(z.real)
print(z.imag)
print(type(z))

1.0
2.0
<class 'complex'>

## 2. String

In [8]:
# Create String
char1 = 'Hello Worls'
char2 = '0123456789'
print(type(char1))
print(type(char2))

<class 'str'>
<class 'str'>

In [10]:
# Read String
char3 = '0123456789'
print(char3[0])
print(char3[5])
print(char3[-1])
print(char3[-2])

print(char3[3:])
print(char3[:7])
print(char3[3:7])

0
5
9
8
3456789
0123456
3456

In [11]:
# String + Replace
char4 = 'abc'
print(char4.replace('a', 'A'))

char4 = 'abc'
print(char4.replace('bc', 'DE'))

Abc
aDE

In [12]:
# String + len
char5 = '12345'
len(char5)

5

In [13]:
# String + in
char6 = 'Python'
print('P' in char6)
print('p' in char6)

True
False

In [14]:
# String + Split
char7 = 'one-two-three'
print(char7.split("-"))

char8 = 'I love coding'
print(char8.split(' '))

['one', 'two', 'three']
['I', 'love', 'coding']

In [16]:
# String + Concatenation
char9 = 'ab'
char10 = 'cd'
print(char9 + char10)

char11, char12, char13 = 'A', 'B', 'C'
print(char11 + char12 + char13)

abcd
ABC

# Composite Data Structure (แหล่งเก็บข้อมูล)

## 1. List []

#### CRUD + sort + len + in
#### CRUD >>> Create Read Update Delete
#### List >> เก็บข้อมูลแบบ index based >> นิยมใช้สุด
#### List >> เก็บข้อมูลได้ทุกประเภท

In [20]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd']
list3 = [1, 2, 3, 'a', 'b', 'c']
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [24]:
print(list3[0])
print(list3[-1])
print(list3[-2])
print(list3[3:])
print(list3[:5])
print(list3[3:5])

1
c
b
['a', 'b', 'c']
[1, 2, 3, 'a', 'b']
['a', 'b']

#### Update list >> Replace, Append, Extend, Insert

In [28]:
# Replace
list5 = [1, 2, 3, 'a', 'b', 'c']
print(list5)

list5[0] = 0
print(list5)

list5[-1] = 'x'
print(list5)

[1, 2, 3, 'a', 'b', 'c']
[0, 2, 3, 'a', 'b', 'c']
[0, 2, 3, 'a', 'b', 'x']

In [29]:
# Append >> การเอาสมาชิกใหม่ไปต่อท้าย
list6 = [1, 2, 3, 'a', 'b', 'c']
print(list6)

list6.append('d')
print(list6)

list6.append('e')
print(list6)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c', 'd']
[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

In [30]:
# Extend >> การเอา 2 list มาต่อกัน
list7 = [1, 2, 3]
list8 = ['a', 'b', 'c']

list7.extend(list8)
print(list7)

[1, 2, 3, 'a', 'b', 'c']

In [31]:
# Insert >> แทรก
list9 = [1, 2, 3, 'a', 'b', 'c']

list9.insert(1, 'one') # >> (index, insert value)
print(list9)

[1, 'one', 2, 3, 'a', 'b', 'c']

#### Delete List  >> Del, Remove, Clear

In [33]:
# Del >>> Index based
list10 = [1, 2, 3, 'a', 'b', 'c']
del list10[2]
print(list10)

del list10[-2]
print(list10)

[1, 2, 'a', 'b', 'c']
[1, 2, 'a', 'c']

In [34]:
# Remove >>> value based 
list11 = [1, 2, 3, 'a', 'b', 'c']
list11.remove(1)
print(list11)

list11.remove('a')
print(list11)

[2, 3, 'a', 'b', 'c']
[2, 3, 'b', 'c']

In [35]:
# clear
list12 = [1, 2, 3, 'a', 'b', 'c']
list12.clear()
print(list12)

[]

#### List + sort

In [39]:
list13 = [1, 5, 4, 2, 3]
list13.sort()
print(list13)

list14 = [1, 5, 4, 2, 3]
list14.sort(reverse = True)
print(list14)

list15 = [1, 5, 4, 2, 3]
list15_sorted = sorted(list15, reverse = False)
print(list15)
print(list15_sorted)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 5, 4, 2, 3]
[1, 2, 3, 4, 5]

#### List + len

In [40]:
list16 = [1, 2, 3, 'a', 'b', 'c']
print(len(list16))

6

#### List + in

In [43]:
list17 = [1, 2, 3, 'a', 'b', 'c']
print('b' in list17)
print(4 in list17)

True
False

## 2. Tuple ()

#### เหมือน list แต่ไม่สามารถแก้ไขอะไรได้เลย
#### CR + len + in

#### Create Tuple

In [45]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c', 'd')
tuple3 = (1, 2, 3, 'a', 'b', 'c')
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

#### Read Tuple

In [46]:
tuple4 = (1, 2, 3, 'a', 'b', 'c')
print(tuple4[0])
print(tuple4[-1])

1
c

#### Tuple + len

In [47]:
tuple6 = (1, 2, 3, 'a', 'b', 'c')
print(len(tuple6))

6

#### Tuple + in

In [48]:
tuple7 = (1, 2, 3, 'a', 'b', 'c')
print('b' in tuple7)

True

## 3. Dictionary { : }

#### CRUD + len + in
#### key : value based

#### Create Dictionary

In [50]:
dict1 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict2 = {
    'fullname' : 'John Doe',
    'hobby' : ['coding', 'study']
}

print(type(dict1))
print(type(dict1))

<class 'dict'>
<class 'dict'>

#### Read Dictionary

In [52]:
dict3 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print(dict3['firstname'])
print(dict3['age'])

John
32

#### Update Dictionary

In [55]:
dict4 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict4['firstname'] = 'Mario'
print(dict4)

##################################

dict5 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict5['blood_group'] = 'O' # >> ถ้าไม่มี key มะนจะสร้าง key ใหม่เลย
print(dict5)

###################################

dict6 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

dict6.update({'blood_group' : 'O',
            'height' : 180})
print(dict6)

{'firstname': 'Mario', 'lastname': 'Doe', 'age': 32}
{'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'blood_group': 'O'}
{'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'blood_group': 'O', 'height': 180}

#### Delete Dictionary

In [57]:
dict7 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

del dict7['lastname']
print(dict7)

#################################
dict8 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}
dict8.clear()
print(dict8)

{'firstname': 'John', 'age': 32}
{}

#### Dictionary + len

In [59]:
dict9 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print(len(dict9))
print(len(dict9.keys()))
print(len(dict9.values()))

3
3
3

#### Dictionary + in

In [61]:
dict10 = {
    'firstname' : 'John',
    'lastname' : 'Doe',
    'age' : 32
}

print('firstname' in dict10)
print('firstname' in dict10.keys())      # >>> list ของ keys 
print('firstname' in dict10.values())    # >>> list ของ values

True
True
False

## 4. Set {}

#### CRUD + len + in
#### do not have >>> index based, key based หรือ ไม่มีตัวอ้างอิงถึง Value
#### have >>> Union, Intersection, Difference, Symmetric Difference

#### 4.1 Create Set

In [62]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 'a', 'b', 'c'}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

#### 4.2 Read Set

In [63]:
set3 = {'a', 'b', 'c', 'd', 'e'}
for x in set3:
    print(x)

a
e
c
d
b

#### 4.3 Update Set

In [66]:
# ADD
set4 = {'a', 'b', 'c', 'd', 'e'}
set4.add(1)
print(set4)

# UPDATE
set5 = {'a', 'b', 'c', 'd', 'e'}
set5.update({1, 2})
print(set5)

{1, 'a', 'e', 'c', 'd', 'b'}
{1, 'a', 2, 'e', 'c', 'd', 'b'}

#### 4.4 Delete Set

In [68]:
# REMOVE
set6 = {'a', 'b', 'c', 'd', 'e'}
set6.remove('a')
print(set6)

set6.remove('c')
print(set6)

# CLEAR
set7 = {'a', 'b', 'c', 'd', 'e'}
set7.clear()
print(set7)

{'e', 'c', 'd', 'b'}
{'e', 'd', 'b'}
set()

#### 4.5 set + len

In [70]:
set8 = {'a', 'b', 'c', 'd', 'e'}
print(len(set8))

5

#### 4.6 Set + in

In [72]:
set9 = {'a', 'b', 'c', 'd', 'e'}
print('a' in set9)

print(1 in set9)

True
False

#### 4.7 Set + Union   |

In [73]:
# UNION >>> |
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA | setB)

{1, 2, 3, 4, 5, 6, 7}

#### 4.8 Set + Intersection   &

In [74]:
# INTERSECTION >>> &
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA & setB)

{3, 4, 5}

#### 4.9 Set + Difference   -

In [75]:
# DIFFERENCE >>> -
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA - setB)
print(setB - setA)

{1, 2}
{6, 7}

#### 4.10 Set + Symmetric Difference   ^

In [77]:
# SYMMETRIC DIFFERENCE >>> ^ >>> (A union B) - (A intersec B) >> สมาชิกทั้งหมดของ 2 เซ็ต ลบ สมาชิกที่มีในทั้ง 2 เซ็ต
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

print(setA ^ setB)

{1, 2, 6, 7}

# Exercises